nodeRed/echoNode.js
[{"id":"d0b1aa96.7ce128","type":"tab","label":"Flow 1"},{"id":"90c84cfc.45ae18","type":"tab","label":"Flow 2"},{"id":"6e408ea7.ef794","type":"tab","label":"Flow 3"},{"id":"223e6715.d1a64","type":"mqtt-broker","z":"","broker":"192.168.2.29","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d6b76a99.31bf58","type":"function","z":"d0b1aa96.7ce128","name":"SensorReadingsToLight","func":"var RGB_Colours = function(WheelPos) {\n    if(WheelPos < 85){\n        WheelR = WheelPos * 3;\n        WheelG = 255 - WheelPos * 3;\n        WheelB = 0;\n    }else if (WheelPos < 170){\n        WheelPos = WheelPos -85;\n        WheelR = 255 - WheelPos * 3;\n        WheelG = 0;\n        WheelB = WheelPos * 3;\n    }else{\n        WheelPos = WheelPos -170;\n        WheelR = 0;\n        WheelG = WheelPos * 3;\n        WheelB =  255 - WheelPos * 3;   \n    }\n    return [WheelR, WheelG, WheelB];\n}\n\n\n\n\n    \n\nvar maxValue = 600;\nvar midValue = 600; //this number depends on where the pillar is\nvar minValue =300;\nvar theMiddle = 0.5*(maxValue + minValue);\n\nvar theNumber = parseInt(msg.payload);\nvar theRed = global.get(\"theRed\");  \nvar theGreen = global.get(\"theGreen\");  \nvar theBlue= global.get(\"theBlue\");  \n\nif(theNumber > 600){\n theNumber = 600;\n}else if (theNumber < 300){\n theNumber = 300;\n}\n\nvar intensity;\n\nif (1==1){\n    \n    \n    var WheelPos;\n    WheelPos = ( theNumber -minValue) *(255)/ (midValue - minValue);\n    \n    var theColours = RGB_Colours(WheelPos);\n    theRed = theColours[0];\n    theGreen = theColours[1];\n    theBlue = theColours[2];\n    \n    var msg1 = {\"payload\": [theRed, theGreen ,theBlue], \"topic\":\"fill\"};\n    //var theSlope = -255.0 / ( Math.pow(theMiddle -maxValue,2));\n   // intensity = theSlope *Math.pow(theNumber -theMiddle,2 ) + 255.0\n    \n}else{\n    if (theNumber <= midValue){\n        intensity = ( theNumber -minValue) *(255)/ (midValue - minValue);\n    }else{\n        intensity = -255/(maxValue-midValue)*theNumber + 255*maxValue/(maxValue - midValue);\n    }\n    \n    intensity = intensity / 255.0;\n\n    var msg1 = {\"payload\": [Math.round(intensity*theRed),Math.round(intensity*theGreen),Math.round(intensity*theBlue)], \"topic\":\"fill\", \"intensity\":intensity};\n\n}\n\n\n//var msg1 = {\"payload\": Math.round(intensity)};\nreturn msg1;","outputs":1,"noerr":0,"x":988.8333740234375,"y":316.2499542236328,"wires":[["7e93b8f3.aee078","5d850337.b0647c"]]},{"id":"82dde6e2.7e40d8","type":"switch","z":"d0b1aa96.7ce128","name":"interactivity","property":"interactivity","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":490.6666259765625,"y":318.91664123535156,"wires":[["34399e6d.4ba512","58049705.87f7f8"]]},{"id":"d8e55db5.aceac","type":"change","z":"d0b1aa96.7ce128","name":"setInteractivityFalse","rules":[{"t":"set","p":"interactivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":248.66665649414062,"y":405.24991607666016,"wires":[[]]},{"id":"2074fa13.22d866","type":"inject","z":"d0b1aa96.7ce128","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":56.666656494140625,"y":371.9166564941406,"wires":[["d8e55db5.aceac"]]},{"id":"39630d9c.43a982","type":"inject","z":"d0b1aa96.7ce128","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"*/10 0-23 * * *","once":false,"x":70,"y":459.9166564941406,"wires":[["d8e55db5.aceac","5f45098a.0d93b8","1171f091.5ba01f"]]},{"id":"81ed0151.af5e3","type":"inject","z":"d0b1aa96.7ce128","name":"StartChime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"x":206.83328247070312,"y":661.9166746139526,"wires":[["4861f5a3.4db2ac","4eadc081.cd5ac","72a6cc44.99aeb4"]]},{"id":"b4d0475.4a34cb8","type":"exec","z":"d0b1aa96.7ce128","command":"python ~/SymphonieLumineuse/SymphonieLumineuse/SymphonieLumineuse/lightshow.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"LightShow","x":623.833251953125,"y":561.0833740234375,"wires":[["855f4215.2e498"],["ca0c89d9.ebef88"],["1a585d05.4e04b3"]]},{"id":"855f4215.2e498","type":"change","z":"d0b1aa96.7ce128","name":"setInteractivityTrue","rules":[{"t":"set","p":"interactivity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":969.833251953125,"y":550.2499389648438,"wires":[[]]},{"id":"4861f5a3.4db2ac","type":"function","z":"d0b1aa96.7ce128","name":"GetTheHour","func":"var d = new Date();\nvar n = d.getHours();\nif(n > 12){\n n = n-12;\n}\nif(n < 1){\n n = 1;\n}\nvar msg = {\"payload\": n};\nreturn msg;","outputs":1,"noerr":0,"x":476.99993896484375,"y":662.9166746139526,"wires":[["56d16637.0918f8","e7a7efb5.cc30d"]]},{"id":"56d16637.0918f8","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"payload","x":776.9999389648438,"y":663.9166746139526,"wires":[]},{"id":"e7a7efb5.cc30d","type":"exec","z":"d0b1aa96.7ce128","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/SymphonieLumineuse/playOnTheHour.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Play On The Hour","x":730.9999389648438,"y":764.9166746139526,"wires":[["5d303176.8dba8","46e9c60f.29eba8"],["570e4e84.211f"],["327d143a.6075fc"]]},{"id":"4eadc081.cd5ac","type":"change","z":"d0b1aa96.7ce128","name":"SetGate15MinutesFalse","rules":[{"t":"set","p":"Gate15Minutes","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.99993896484375,"y":760.9166746139526,"wires":[["aab1ada0.f4fcc"]]},{"id":"f3182f26.c73c5","type":"debug","z":"d0b1aa96.7ce128","name":"","active":false,"console":"false","complete":"false","x":676.9999389648438,"y":437.91667461395264,"wires":[]},{"id":"5d303176.8dba8","type":"change","z":"d0b1aa96.7ce128","name":"SetGate15MinutesTrue","rules":[{"t":"set","p":"Gate15Minutes","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1075,"y":741.9166259765625,"wires":[[]]},{"id":"97757e23.94f52","type":"switch","z":"d0b1aa96.7ce128","name":"Gate15Minutes","property":"Gate15Minutes","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":398.99993896484375,"y":566.9166746139526,"wires":[["f3182f26.c73c5","b4d0475.4a34cb8"]]},{"id":"aab1ada0.f4fcc","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"false","x":590.9999389648438,"y":841.9166870117188,"wires":[]},{"id":"5f45098a.0d93b8","type":"delay","z":"d0b1aa96.7ce128","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":197.99993896484375,"y":564.9166746139526,"wires":[["97757e23.94f52"]]},{"id":"58049705.87f7f8","type":"debug","z":"d0b1aa96.7ce128","name":"","active":false,"console":"false","complete":"false","x":1037.729248046875,"y":411.5694580078125,"wires":[]},{"id":"7e93b8f3.aee078","type":"rpi-ws2801","z":"d0b1aa96.7ce128","numleds":"25","port":"/dev/spidev1.0","name":"","x":1213,"y":319.25001525878906,"wires":[]},{"id":"b64d58d5.becb08","type":"mcp3008","z":"d0b1aa96.7ce128","name":"RPiSheild","device":"/dev/spidev0.0","mode":"0x80","interval":"20","x":262.5,"y":321.25001525878906,"wires":[["82dde6e2.7e40d8","8e0b3a0f.e63778"]]},{"id":"971f7e3e.26812","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"false","x":1572.9999694824219,"y":523.2500076293945,"wires":[]},{"id":"494b145.69856ec","type":"inject","z":"d0b1aa96.7ce128","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":57,"y":317.25,"wires":[["b64d58d5.becb08","1171f091.5ba01f"]]},{"id":"34399e6d.4ba512","type":"smooth","z":"d0b1aa96.7ce128","name":"","action":"mean","count":"10","round":"","x":705,"y":313.25001525878906,"wires":[["d6b76a99.31bf58"]]},{"id":"46e9c60f.29eba8","type":"change","z":"d0b1aa96.7ce128","name":"setInteractivityTrue","rules":[{"t":"set","p":"interactivity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1071,"y":793.25,"wires":[[]]},{"id":"570e4e84.211f","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"false","x":1050.9901123046875,"y":840.4857177734375,"wires":[]},{"id":"327d143a.6075fc","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"false","x":1052.994873046875,"y":899.4962158203125,"wires":[]},{"id":"ca0c89d9.ebef88","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"false","x":1023.2685546875,"y":608.790771484375,"wires":[]},{"id":"1a585d05.4e04b3","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"false","complete":"false","x":1025.2685546875,"y":655.7908020019531,"wires":[]},{"id":"72a6cc44.99aeb4","type":"change","z":"d0b1aa96.7ce128","name":"setInteractivityFalse","rules":[{"t":"set","p":"interactivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.75,"y":844.25,"wires":[[]]},{"id":"1171f091.5ba01f","type":"function","z":"d0b1aa96.7ce128","name":"RandomNumberGenerator","func":"function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar RGB_Colours = function(WheelPos) {\n    if(WheelPos < 85){\n        WheelR = WheelPos * 3;\n        WheelG = 255 - WheelPos * 3;\n        WheelB = 0;\n    }else if (WheelPos < 170){\n        WheelPos = WheelPos -85;\n        WheelR = 255 - WheelPos * 3;\n        WheelG = 0;\n        WheelB = WheelPos * 3;\n    }else{\n        WheelPos = WheelPos -170;\n        WheelR = 0;\n        WheelG = WheelPos * 3;\n        WheelB =  255 - WheelPos * 3;   \n    }\n    return [WheelR, WheelG, WheelB];\n}\n\n\nif(1==1){\n    WheelPos = getRandomInt(0,255);\n    var theColours = RGB_Colours(WheelPos);\n    theRed = theColours[0];\n    theGreen = theColours[1];\n    theBlue = theColours[2];\n}else{\n   theRed = getRandomInt(0,1)*255;\n   theGreen = getRandomInt(0,1)*255;\n   theBlue = getRandomInt(0,1)*255;\n}\n\nwhile (theRed + theGreen + theBlue === 0){\n   theRed = getRandomInt(0,1);\n   theGreen = getRandomInt(0,1);\n   theBlue = getRandomInt(0,1); \n}\n\nglobal.set(\"theRed\",theRed); \nglobal.set(\"theGreen\",theGreen); \nglobal.set(\"theBlue\",theBlue); \n\n \n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":292.25001525878906,"y":485.75,"wires":[[]]},{"id":"bebdc5ca.310118","type":"function","z":"d0b1aa96.7ce128","name":"SensorReadingsToLight","func":"var MaxValue = 600;\nvar minValue =300;\n\nmsg.theNumber = (parseInt(msg.payload) -minValue) *(255)/ (MaxValue - minValue)\nif(msg.theNumber > 255){\n msg.theNumber = 255;\n}else if (msg.theNumber < 0){\n msg.theNumber = 0;\n}\nvar msg1 = {\"payload\": [msg.theNumber,0,0], \"topic\":\"fill\"}\nreturn msg1;","outputs":1,"noerr":0,"x":1368,"y":275.75,"wires":[[]]},{"id":"1b85a93d.12d2c7","type":"inject","z":"d0b1aa96.7ce128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.25,"y":948,"wires":[["940df879.ccf1d8"]]},{"id":"940df879.ccf1d8","type":"exec","z":"d0b1aa96.7ce128","command":"omxplayer /home/pi/Downloads/theJapanBells.mp3","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":483.25,"y":963.5,"wires":[[],[],[]]},{"id":"ce9e0491.2e4398","type":"debug","z":"d0b1aa96.7ce128","name":"","active":true,"console":"true","complete":"true","x":1027.25,"y":228.75001525878906,"wires":[]},{"id":"d5f52805.1daf78","type":"debug","z":"d0b1aa96.7ce128","name":"resetSound","active":true,"console":"true","complete":"true","x":1167.5999755859375,"y":127,"wires":[]},{"id":"8e0b3a0f.e63778","type":"link out","z":"d0b1aa96.7ce128","name":"TriggerSound","links":["9936e6f0.4f7e9","8c41419.cf2e04"],"x":475.59999084472656,"y":383.2666778564453,"wires":[]},{"id":"5d850337.b0647c","type":"debug","z":"d0b1aa96.7ce128","name":"","active":false,"console":"false","complete":"true","x":1231.566650390625,"y":406.3666687011719,"wires":[]},{"id":"b8749e13.4a3b38","type":"mqtt out","z":"90c84cfc.45ae18","name":"","topic":"topic/echo","qos":"","retain":"","broker":"223e6715.d1a64","x":742.5,"y":267,"wires":[]},{"id":"8c41419.cf2e04","type":"link in","z":"90c84cfc.45ae18","name":"","links":["8e0b3a0f.e63778"],"x":47,"y":207.31666564941406,"wires":[["8bfe0ed3.af6cf","9c0bb7b1.d0cb58"]]},{"id":"8bfe0ed3.af6cf","type":"function","z":"90c84cfc.45ae18","name":"TriggerSound","func":"var maxTrigger = 550;\nvar minTrigger =450;\n\nvar theNumber = parseInt(msg.payload);\n// && theNumber < maxTrigger){\nif(theNumber > minTrigger ){\n  var msg1 = { payload:\"Trigger the sound\" };\n  return [ msg1, null];\n\n} else{\n    var msg2 = { payload:\"reset Sound\" };\n    return [ null, msg2 ];\n}\n\n\n\n\n\n","outputs":"2","noerr":0,"x":181.1500244140625,"y":207.75,"wires":[["6f359392.524584","3065ba1a.86a82e"],["d522cfa4.88322"]]},{"id":"6f359392.524584","type":"debug","z":"90c84cfc.45ae18","name":"","active":false,"console":"false","complete":"false","x":387.99998474121094,"y":160,"wires":[]},{"id":"584680fb.869168","type":"inject","z":"90c84cfc.45ae18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":521.9999847412109,"y":384.7166442871094,"wires":[[]]},{"id":"3065ba1a.86a82e","type":"switch","z":"90c84cfc.45ae18","name":"notPlaying","property":"notPlaying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":366.65000915527344,"y":206,"wires":[["c70b1273.bd9268"]]},{"id":"fe499203.8b36e","type":"debug","z":"90c84cfc.45ae18","name":"notPlaying","active":false,"console":"false","complete":"true","x":613.9999847412109,"y":166,"wires":[]},{"id":"c70b1273.bd9268","type":"switch","z":"90c84cfc.45ae18","name":"resetSound","property":"resetSound","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":538.9664154052734,"y":205.56666564941406,"wires":[["a516c2a6.19045","b8749e13.4a3b38"]]},{"id":"c8561378.99329","type":"debug","z":"90c84cfc.45ae18","name":"","active":true,"console":"false","complete":"false","x":1040.999984741211,"y":452.3999786376953,"wires":[]},{"id":"2e727f2e.8e92c8","type":"change","z":"90c84cfc.45ae18","name":"notPlayingTrue","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1061.266586303711,"y":198.86666870117188,"wires":[[]]},{"id":"20dc03ff.9ad05c","type":"change","z":"90c84cfc.45ae18","name":"resetSoundFalse","rules":[{"t":"set","p":"resetSound","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":932.9999847412109,"y":388.566650390625,"wires":[[]]},{"id":"60d2a808.cd166","type":"debug","z":"90c84cfc.45ae18","name":"","active":false,"console":"false","complete":"false","x":1110.233139038086,"y":264.56666564941406,"wires":[]},{"id":"44143395.f5d2ec","type":"debug","z":"90c84cfc.45ae18","name":"","active":true,"console":"false","complete":"false","x":1142.233139038086,"y":303.56666564941406,"wires":[]},{"id":"d621a45b.46894","type":"debug","z":"90c84cfc.45ae18","name":"","active":true,"console":"false","complete":"false","x":1181.233139038086,"y":333.56666564941406,"wires":[]},{"id":"264e5c50.e498fc","type":"debug","z":"90c84cfc.45ae18","name":"","active":true,"console":"false","complete":"false","x":1187.000228881836,"y":384.3999786376953,"wires":[]},{"id":"a516c2a6.19045","type":"change","z":"90c84cfc.45ae18","name":"notPlayingFalse","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":845.9999847412109,"y":184.31666564941406,"wires":[[]]},{"id":"d522cfa4.88322","type":"change","z":"90c84cfc.45ae18","name":"resetSoundTrue","rules":[{"t":"set","p":"resetSound","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.99998474121094,"y":297.31666564941406,"wires":[["44c23ce6.4968fc"]]},{"id":"44c23ce6.4968fc","type":"debug","z":"90c84cfc.45ae18","name":"","active":false,"console":"false","complete":"payload","x":555.9833221435547,"y":314.50001525878906,"wires":[]},{"id":"230c5758.d1ce08","type":"inject","z":"90c84cfc.45ae18","name":"","topic":"","payload":"resetSound","payloadType":"flow","repeat":"","crontab":"","once":false,"x":955.9999847412109,"y":715.3166198730469,"wires":[["66e40325.eb3244"]]},{"id":"6c099ab5.e20e04","type":"inject","z":"90c84cfc.45ae18","name":"","topic":"","payload":"notPlaying","payloadType":"flow","repeat":"","crontab":"","once":false,"x":930.9999847412109,"y":785.316650390625,"wires":[["cf092f2a.053588"]]},{"id":"66e40325.eb3244","type":"debug","z":"90c84cfc.45ae18","name":"","active":true,"console":"false","complete":"false","x":1184.999984741211,"y":708.9999389648438,"wires":[]},{"id":"cf092f2a.053588","type":"debug","z":"90c84cfc.45ae18","name":"","active":true,"console":"false","complete":"false","x":1183.999984741211,"y":790.9999389648438,"wires":[]},{"id":"f05eb01e.d63208","type":"inject","z":"90c84cfc.45ae18","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":93,"y":483.9166259765625,"wires":[["b8cf5c9b.6af0f","bfa2d170.f430c"]]},{"id":"b8cf5c9b.6af0f","type":"change","z":"90c84cfc.45ae18","name":"resetSound","rules":[{"t":"set","p":"resetSound","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.9666442871094,"y":502.7666320800781,"wires":[[]]},{"id":"35ed70ed.0f09a8","type":"inject","z":"90c84cfc.45ae18","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":82.96665954589844,"y":564.7666320800781,"wires":[["b8cf5c9b.6af0f","bfa2d170.f430c"]]},{"id":"bfa2d170.f430c","type":"change","z":"90c84cfc.45ae18","name":"notPlayingFalse","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280.9666442871094,"y":576.7666320800781,"wires":[[]]},{"id":"632b707a.04866","type":"inject","z":"90c84cfc.45ae18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":545.5,"y":82,"wires":[["b8749e13.4a3b38"]]},{"id":"9c0bb7b1.d0cb58","type":"debug","z":"90c84cfc.45ae18","name":"","active":false,"console":"false","complete":"false","x":204.5,"y":109,"wires":[]},{"id":"fdc433a1.df68c8","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"interactivity","payloadType":"global","repeat":"","crontab":"","once":false,"x":165,"y":418.34996032714844,"wires":[["2683f082.93dec8"]]},{"id":"f5f22d46.c3c95","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"Gate15Minutes","payloadType":"global","repeat":"","crontab":"","once":false,"x":160,"y":488.34999084472656,"wires":[["4907193f.d0ad2"]]},{"id":"2683f082.93dec8","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"false","x":394,"y":412.0332794189453,"wires":[]},{"id":"4907193f.d0ad2","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"false","x":393,"y":494.0332794189453,"wires":[]},{"id":"65fe1713.bbc318","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"resetSound","payloadType":"global","repeat":"","crontab":"","once":false,"x":644.566650390625,"y":411.34999084472656,"wires":[["dce02642.f71dd8"]]},{"id":"bc1fbdf3.b4f698","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"notPlaying","payloadType":"global","repeat":"","crontab":"","once":false,"x":635.566650390625,"y":495.3500213623047,"wires":[["195f8c13.aa6af4"]]},{"id":"dce02642.f71dd8","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"false","x":865.5666351318359,"y":410.0332794189453,"wires":[]},{"id":"195f8c13.aa6af4","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"false","x":870.5666351318359,"y":497.0332794189453,"wires":[]},{"id":"5e3b0468.d4c51c","type":"inject","z":"6e408ea7.ef794","name":"StartUp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":259.59999084472656,"y":68.5,"wires":[[]]},{"id":"3b876275.6b65ae","type":"function","z":"6e408ea7.ef794","name":"Set Global Parameters","func":"global.set(\"resetSound\",true);  \nglobal.set(\"notPlaying\",true);  \n\nreturn msg;","outputs":1,"noerr":0,"x":565.5999908447266,"y":58,"wires":[[]]},{"id":"22696f01.34bff8","type":"comment","z":"6e408ea7.ef794","name":"Sound Parameters (Debug)","info":"","x":752.5999755859375,"y":349.8666534423828,"wires":[]},{"id":"24258ea7.7af26a","type":"comment","z":"6e408ea7.ef794","name":"Lights (Debug)","info":"","x":237.56666564941406,"y":336.94996643066406,"wires":[]},{"id":"806f88d2.ee2d78","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"payload","x":1127.5999755859375,"y":99.18333435058594,"wires":[]},{"id":"8b4a96b.c98ade8","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"theRed","payloadType":"global","repeat":"","crontab":"","once":false,"x":876.5999755859375,"y":87.5,"wires":[["806f88d2.ee2d78"]]},{"id":"2b6ecb5f.876a6c","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"payload","x":1115.566650390625,"y":171.35000610351562,"wires":[]},{"id":"caa33d1e.c6037","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"theGreen","payloadType":"global","repeat":"","crontab":"","once":false,"x":889.566650390625,"y":162.6666717529297,"wires":[["2b6ecb5f.876a6c"]]},{"id":"e969eff.bac649","type":"debug","z":"6e408ea7.ef794","name":"","active":true,"console":"false","complete":"payload","x":1105.566650390625,"y":238.35000610351562,"wires":[]},{"id":"d3d26ee1.52d21","type":"inject","z":"6e408ea7.ef794","name":"","topic":"","payload":"theBlue","payloadType":"global","repeat":"","crontab":"","once":false,"x":869.566650390625,"y":229.6666717529297,"wires":[["e969eff.bac649"]]},{"id":"368cc200.8e65ee","type":"mqtt in","z":"90c84cfc.45ae18","name":"","topic":"topic/echoReset","qos":"2","broker":"223e6715.d1a64","x":736.5,"y":398,"wires":[["20dc03ff.9ad05c","2e727f2e.8e92c8"]]}]
