nodeRed/LightsTry1
[{"id":"2efb7a27.e980ce","type":"function","z":"28adb256.45f49e","name":"SensorReadingsToLight","func":"var RGB_Colours = function(WheelPos) {\n    if(WheelPos < 85){\n        WheelR = WheelPos * 3;\n        WheelG = 255 - WheelPos * 3;\n        WheelB = 0;\n    }else if (WheelPos < 170){\n        WheelPos = WheelPos -85;\n        WheelR = 255 - WheelPos * 3;\n        WheelG = 0;\n        WheelB = WheelPos * 3;\n    }else{\n        WheelPos = WheelPos -170;\n        WheelR = 0;\n        WheelG = WheelPos * 3;\n        WheelB =  255 - WheelPos * 3;   \n    }\n    return [WheelR, WheelG, WheelB];\n}\n\n\n\n\n    \n\nvar maxValue = 600;\nvar midValue = 600; //this number depends on where the pillar is\nvar minValue =300;\nvar theMiddle = 0.5*(maxValue + minValue);\n\nvar theNumber = parseInt(msg.payload);\nvar theRed = global.get(\"theRed\");  \nvar theGreen = global.get(\"theGreen\");  \nvar theBlue= global.get(\"theBlue\");  \n\nif(theNumber > 600){\n theNumber = 600;\n}else if (theNumber < 300){\n theNumber = 300;\n}\n\nvar intensity;\n\nif (1==1){\n    \n    \n    var WheelPos;\n    WheelPos = ( theNumber -minValue) *(255)/ (midValue - minValue);\n    \n    var theColours = RGB_Colours(WheelPos);\n    theRed = theColours[0];\n    theGreen = theColours[1];\n    theBlue = theColours[2];\n    \n    var msg1 = {\"payload\": [theRed, theGreen ,theBlue], \"topic\":\"fill\"};\n    //var theSlope = -255.0 / ( Math.pow(theMiddle -maxValue,2));\n   // intensity = theSlope *Math.pow(theNumber -theMiddle,2 ) + 255.0\n    \n}else{\n    if (theNumber <= midValue){\n        intensity = ( theNumber -minValue) *(255)/ (midValue - minValue);\n    }else{\n        intensity = -255/(maxValue-midValue)*theNumber + 255*maxValue/(maxValue - midValue);\n    }\n    \n    intensity = intensity / 255.0;\n\n    var msg1 = {\"payload\": [Math.round(intensity*theRed),Math.round(intensity*theGreen),Math.round(intensity*theBlue)], \"topic\":\"fill\", \"intensity\":intensity};\n\n}\n\n\n//var msg1 = {\"payload\": Math.round(intensity)};\nreturn msg1;","outputs":1,"noerr":0,"x":1015.8333740234375,"y":209.2499542236328,"wires":[["690b4349.08490c","dccef0f1.1b6cc"]]},{"id":"4331253f.8182cc","type":"switch","z":"28adb256.45f49e","name":"interactivity","property":"interactivity","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":517.6666259765625,"y":211.91664123535156,"wires":[["938dec1e.62a89","6914fce4.64a7cc"]]},{"id":"ac8bd31.ab0c43","type":"change","z":"28adb256.45f49e","name":"setInteractivityFalse","rules":[{"t":"set","p":"interactivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":275.6666564941406,"y":298.24991607666016,"wires":[[]]},{"id":"27a0c5b5.2593ba","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":83.66665649414062,"y":264.9166564941406,"wires":[["ac8bd31.ab0c43"]]},{"id":"c786f5e1.e66e6","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":82,"y":348.9166564941406,"wires":[["ac8bd31.ab0c43","47ab3172.572d2","997b42c7.53a02"]]},{"id":"47f7496b.92d268","type":"inject","z":"28adb256.45f49e","name":"StartChime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":233.83328247070312,"y":554.9166746139526,"wires":[["f10f174f.af35a8","887c9f91.985ec","a2672d45.508ce8"]]},{"id":"1173fbab.217764","type":"exec","z":"28adb256.45f49e","command":"python ~/SymphonieLumineuse/SymphonieLumineuse/SymphonieLumineuse/lightshow.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"LightShow","x":650.833251953125,"y":454.0833740234375,"wires":[["81a687e2.218528"],["4ea439db.7ec89"],["47110f5e.c9463"]]},{"id":"81a687e2.218528","type":"change","z":"28adb256.45f49e","name":"setInteractivityTrue","rules":[{"t":"set","p":"interactivity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":996.833251953125,"y":443.24993896484375,"wires":[[]]},{"id":"f10f174f.af35a8","type":"function","z":"28adb256.45f49e","name":"GetTheHour","func":"var d = new Date();\nvar n = d.getHours();\nif(n > 12){\n n = n-12;\n}\nif(n < 1){\n n = 1;\n}\nvar msg = {\"payload\": n};\nreturn msg;","outputs":1,"noerr":0,"x":503.99993896484375,"y":555.9166746139526,"wires":[["41bc3a61.5ecd24","f9c5bc97.53b708"]]},{"id":"41bc3a61.5ecd24","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"payload","x":803.9999389648438,"y":556.9166746139526,"wires":[]},{"id":"f9c5bc97.53b708","type":"exec","z":"28adb256.45f49e","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/SymphonieLumineuse/playOnTheHour.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Play On The Hour","x":757.9999389648438,"y":657.9166746139526,"wires":[["859f2c84.6eaf28","3eec1e4f.755da2"],["9ae4cc32.d7b9b"],["300b9c8.eaa31e4"]]},{"id":"887c9f91.985ec","type":"change","z":"28adb256.45f49e","name":"SetGate15MinutesFalse","rules":[{"t":"set","p":"Gate15Minutes","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.99993896484375,"y":653.9166746139526,"wires":[["33d5812d.09ab56"]]},{"id":"35a9fec2.3da27a","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":703.9999389648438,"y":330.91667461395264,"wires":[]},{"id":"859f2c84.6eaf28","type":"change","z":"28adb256.45f49e","name":"SetGate15MinutesTrue","rules":[{"t":"set","p":"Gate15Minutes","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1102,"y":634.9166259765625,"wires":[[]]},{"id":"f3ffd7ec.c8f1a","type":"switch","z":"28adb256.45f49e","name":"Gate15Minutes","property":"Gate15Minutes","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":425.99993896484375,"y":459.91667461395264,"wires":[["35a9fec2.3da27a","1173fbab.217764"]]},{"id":"33d5812d.09ab56","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":617.9999389648438,"y":734.9166870117188,"wires":[]},{"id":"47ab3172.572d2","type":"delay","z":"28adb256.45f49e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":224.99993896484375,"y":457.91667461395264,"wires":[["f3ffd7ec.c8f1a"]]},{"id":"6914fce4.64a7cc","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1064.729248046875,"y":304.5694580078125,"wires":[]},{"id":"690b4349.08490c","type":"rpi-ws2801","z":"28adb256.45f49e","numleds":"25","port":"/dev/spidev1.0","name":"","x":1240,"y":212.25001525878906,"wires":[]},{"id":"606c6f2b.e80fc8","type":"mcp3008","z":"28adb256.45f49e","name":"RPiSheild","device":"/dev/spidev0.0","mode":"0x80","interval":"20","x":289.5,"y":214.25001525878906,"wires":[["4331253f.8182cc","cd7be897.2f9e6"]]},{"id":"8f7e30a5.fa183","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1599.9999694824219,"y":416.25000762939453,"wires":[]},{"id":"77444e46.c1f3f8","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":84,"y":210.25,"wires":[["606c6f2b.e80fc8","997b42c7.53a02"]]},{"id":"938dec1e.62a89","type":"smooth","z":"28adb256.45f49e","name":"","action":"mean","count":"10","round":"","x":732,"y":206.25001525878906,"wires":[["2efb7a27.e980ce"]]},{"id":"3eec1e4f.755da2","type":"change","z":"28adb256.45f49e","name":"setInteractivityTrue","rules":[{"t":"set","p":"interactivity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1098,"y":686.25,"wires":[[]]},{"id":"9ae4cc32.d7b9b","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1077.9901123046875,"y":733.4857177734375,"wires":[]},{"id":"300b9c8.eaa31e4","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1079.994873046875,"y":792.4962158203125,"wires":[]},{"id":"4ea439db.7ec89","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1050.2685546875,"y":501.790771484375,"wires":[]},{"id":"47110f5e.c9463","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1052.2685546875,"y":548.7908020019531,"wires":[]},{"id":"a2672d45.508ce8","type":"change","z":"28adb256.45f49e","name":"setInteractivityFalse","rules":[{"t":"set","p":"interactivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":381.75,"y":737.25,"wires":[[]]},{"id":"997b42c7.53a02","type":"function","z":"28adb256.45f49e","name":"RandomNumberGenerator","func":"function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar RGB_Colours = function(WheelPos) {\n    if(WheelPos < 85){\n        WheelR = WheelPos * 3;\n        WheelG = 255 - WheelPos * 3;\n        WheelB = 0;\n    }else if (WheelPos < 170){\n        WheelPos = WheelPos -85;\n        WheelR = 255 - WheelPos * 3;\n        WheelG = 0;\n        WheelB = WheelPos * 3;\n    }else{\n        WheelPos = WheelPos -170;\n        WheelR = 0;\n        WheelG = WheelPos * 3;\n        WheelB =  255 - WheelPos * 3;   \n    }\n    return [WheelR, WheelG, WheelB];\n}\n\n\nif(1==1){\n    WheelPos = getRandomInt(0,255);\n    var theColours = RGB_Colours(WheelPos);\n    theRed = theColours[0];\n    theGreen = theColours[1];\n    theBlue = theColours[2];\n}else{\n   theRed = getRandomInt(0,1)*255;\n   theGreen = getRandomInt(0,1)*255;\n   theBlue = getRandomInt(0,1)*255;\n}\n\nwhile (theRed + theGreen + theBlue === 0){\n   theRed = getRandomInt(0,1);\n   theGreen = getRandomInt(0,1);\n   theBlue = getRandomInt(0,1); \n}\n\nglobal.set(\"theRed\",theRed); \nglobal.set(\"theGreen\",theGreen); \nglobal.set(\"theBlue\",theBlue); \n\n \n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":319.25001525878906,"y":378.75,"wires":[[]]},{"id":"23287c47.9e79ec","type":"function","z":"28adb256.45f49e","name":"SensorReadingsToLight","func":"var MaxValue = 600;\nvar minValue =300;\n\nmsg.theNumber = (parseInt(msg.payload) -minValue) *(255)/ (MaxValue - minValue)\nif(msg.theNumber > 255){\n msg.theNumber = 255;\n}else if (msg.theNumber < 0){\n msg.theNumber = 0;\n}\nvar msg1 = {\"payload\": [msg.theNumber,0,0], \"topic\":\"fill\"}\nreturn msg1;","outputs":1,"noerr":0,"x":1395,"y":168.75,"wires":[[]]},{"id":"ad034543.29cf8","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.25,"y":841,"wires":[["6d294471.770204"]]},{"id":"6d294471.770204","type":"exec","z":"28adb256.45f49e","command":"omxplayer /home/pi/Downloads/theJapanBells.mp3","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":510.25,"y":856.5,"wires":[[],[],[]]},{"id":"7354e000.da0df8","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"true","complete":"true","x":1054.25,"y":121.75001525878906,"wires":[]},{"id":"cabcd933.4502b8","type":"debug","z":"28adb256.45f49e","name":"resetSound","active":true,"console":"true","complete":"true","x":1194.5999755859375,"y":20,"wires":[]},{"id":"cd7be897.2f9e6","type":"link out","z":"28adb256.45f49e","name":"TriggerSound","links":["10fb3d08.f38643","8dbf8ede.17656"],"x":502.59999084472656,"y":276.2666778564453,"wires":[]},{"id":"dccef0f1.1b6cc","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"true","x":1258.566650390625,"y":299.3666687011719,"wires":[]}]