nodeRed/mainNodeWorking.js
[{"id":"28adb256.45f49e","type":"tab","label":"Lights"},{"id":"df5fce3f.b538f8","type":"tab","label":"CurrentSound"},{"id":"4b86e319.2d6a04","type":"tab","label":"Main Control And Debug"},{"id":"817ddca9.282ca","type":"tab","label":"Flow 1"},{"id":"554ebf4d.f6c078","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2efb7a27.e980ce","type":"function","z":"28adb256.45f49e","name":"SensorReadingsToLight","func":"var RGB_Colours = function(WheelPos) {\n    if(WheelPos < 85){\n        WheelR = WheelPos * 3;\n        WheelG = 255 - WheelPos * 3;\n        WheelB = 0;\n    }else if (WheelPos < 170){\n        WheelPos = WheelPos -85;\n        WheelR = 255 - WheelPos * 3;\n        WheelG = 0;\n        WheelB = WheelPos * 3;\n    }else{\n        WheelPos = WheelPos -170;\n        WheelR = 0;\n        WheelG = WheelPos * 3;\n        WheelB =  255 - WheelPos * 3;   \n    }\n    return [WheelR, WheelG, WheelB];\n}\n\n\n\n\n    \n\nvar maxValue = 600;\nvar midValue = 600; //this number depends on where the pillar is\nvar minValue =300;\nvar theMiddle = 0.5*(maxValue + minValue);\n\nvar theNumber = parseInt(msg.payload);\nvar theRed = global.get(\"theRed\");  \nvar theGreen = global.get(\"theGreen\");  \nvar theBlue= global.get(\"theBlue\");  \n\nif(theNumber > 600){\n theNumber = 600;\n}else if (theNumber < 300){\n theNumber = 300;\n}\n\nvar intensity;\n\nif (theRed + theGreen + theBlue===0){\n    \n    \n    var WheelPos;\n    WheelPos = ( theNumber -minValue) *(255)/ (midValue - minValue);\n    \n    var theColours = RGB_Colours(WheelPos);\n    theRed = theColours[0];\n    theGreen = theColours[1];\n    theBlue = theColours[2];\n    \n    var msg1 = {\"payload\": [theRed, theGreen ,theBlue], \"topic\":\"fill\"};\n    //var theSlope = -255.0 / ( Math.pow(theMiddle -maxValue,2));\n   // intensity = theSlope *Math.pow(theNumber -theMiddle,2 ) + 255.0\n    \n}else{\n    if (theNumber <= midValue){\n        intensity = ( theNumber -minValue) *(255)/ (midValue - minValue);\n    }else{\n        intensity = -255/(maxValue-midValue)*theNumber + 255*maxValue/(maxValue - midValue);\n    }\n    \n    intensity = intensity / 255.0;\n\n    var msg1 = {\"payload\": [Math.round(intensity*theRed),Math.round(intensity*theGreen),Math.round(intensity*theBlue)], \"topic\":\"fill\", \"intensity\":intensity};\n\n}\n\n\n//var msg1 = {\"payload\": Math.round(intensity)};\nreturn msg1;","outputs":1,"noerr":0,"x":1015.8333740234375,"y":209.2499542236328,"wires":[["690b4349.08490c","dccef0f1.1b6cc"]]},{"id":"4331253f.8182cc","type":"switch","z":"28adb256.45f49e","name":"interactivity","property":"interactivity","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":517.6666259765625,"y":211.91664123535156,"wires":[["938dec1e.62a89","6914fce4.64a7cc"]]},{"id":"ac8bd31.ab0c43","type":"change","z":"28adb256.45f49e","name":"setInteractivityFalse","rules":[{"t":"set","p":"interactivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":275.6666564941406,"y":298.24991607666016,"wires":[[]]},{"id":"27a0c5b5.2593ba","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"0 0 * * *","once":false,"x":83.66665649414062,"y":264.9166564941406,"wires":[["ac8bd31.ab0c43"]]},{"id":"c786f5e1.e66e6","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"*/10 0-23 * * *","once":false,"x":82,"y":348.9166564941406,"wires":[["ac8bd31.ab0c43","47ab3172.572d2","997b42c7.53a02"]]},{"id":"47f7496b.92d268","type":"inject","z":"28adb256.45f49e","name":"StartChime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":233.83328247070312,"y":554.9166746139526,"wires":[["f10f174f.af35a8","887c9f91.985ec","a2672d45.508ce8"]]},{"id":"1173fbab.217764","type":"exec","z":"28adb256.45f49e","command":"python ~/SymphonieLumineuse/SymphonieLumineuse/SymphonieLumineuse/lightshow.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"LightShow","x":650.833251953125,"y":454.0833740234375,"wires":[["81a687e2.218528"],["4ea439db.7ec89"],["47110f5e.c9463"]]},{"id":"81a687e2.218528","type":"change","z":"28adb256.45f49e","name":"setInteractivityTrue","rules":[{"t":"set","p":"interactivity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":996.833251953125,"y":443.24993896484375,"wires":[[]]},{"id":"f10f174f.af35a8","type":"function","z":"28adb256.45f49e","name":"GetTheHour","func":"var d = new Date();\nvar n = d.getHours();\nif(n > 12){\n n = n-12;\n}\nif(n < 1){\n n = 1;\n}\nvar msg = {\"payload\": n};\nreturn msg;","outputs":1,"noerr":0,"x":503.99993896484375,"y":555.9166746139526,"wires":[["41bc3a61.5ecd24","f9c5bc97.53b708"]]},{"id":"41bc3a61.5ecd24","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"payload","x":803.9999389648438,"y":556.9166746139526,"wires":[]},{"id":"f9c5bc97.53b708","type":"exec","z":"28adb256.45f49e","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/SymphonieLumineuse/playOnTheHour.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Play On The Hour","x":757.9999389648438,"y":657.9166746139526,"wires":[["859f2c84.6eaf28","3eec1e4f.755da2"],["9ae4cc32.d7b9b"],["300b9c8.eaa31e4"]]},{"id":"887c9f91.985ec","type":"change","z":"28adb256.45f49e","name":"SetGate15MinutesFalse","rules":[{"t":"set","p":"Gate15Minutes","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.99993896484375,"y":653.9166746139526,"wires":[["33d5812d.09ab56"]]},{"id":"35a9fec2.3da27a","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":703.9999389648438,"y":330.91667461395264,"wires":[]},{"id":"859f2c84.6eaf28","type":"change","z":"28adb256.45f49e","name":"SetGate15MinutesTrue","rules":[{"t":"set","p":"Gate15Minutes","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1102,"y":634.9166259765625,"wires":[[]]},{"id":"f3ffd7ec.c8f1a","type":"switch","z":"28adb256.45f49e","name":"Gate15Minutes","property":"Gate15Minutes","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":425.99993896484375,"y":459.91667461395264,"wires":[["35a9fec2.3da27a","1173fbab.217764"]]},{"id":"33d5812d.09ab56","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":617.9999389648438,"y":734.9166870117188,"wires":[]},{"id":"47ab3172.572d2","type":"delay","z":"28adb256.45f49e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":224.99993896484375,"y":457.91667461395264,"wires":[["f3ffd7ec.c8f1a"]]},{"id":"6914fce4.64a7cc","type":"debug","z":"28adb256.45f49e","name":"","active":false,"console":"false","complete":"false","x":1064.729248046875,"y":304.5694580078125,"wires":[]},{"id":"690b4349.08490c","type":"rpi-ws2801","z":"28adb256.45f49e","numleds":"25","port":"/dev/spidev1.0","name":"","x":1240,"y":212.25001525878906,"wires":[]},{"id":"606c6f2b.e80fc8","type":"mcp3008","z":"28adb256.45f49e","name":"RPiSheild","device":"/dev/spidev0.0","mode":"0x80","interval":"20","x":289.5,"y":214.25001525878906,"wires":[["4331253f.8182cc","cd7be897.2f9e6"]]},{"id":"8f7e30a5.fa183","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1599.9999694824219,"y":416.25000762939453,"wires":[]},{"id":"77444e46.c1f3f8","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":84,"y":210.25,"wires":[["606c6f2b.e80fc8","997b42c7.53a02"]]},{"id":"938dec1e.62a89","type":"smooth","z":"28adb256.45f49e","name":"","action":"mean","count":"10","round":"","x":732,"y":206.25001525878906,"wires":[["2efb7a27.e980ce"]]},{"id":"3eec1e4f.755da2","type":"change","z":"28adb256.45f49e","name":"setInteractivityTrue","rules":[{"t":"set","p":"interactivity","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1098,"y":686.25,"wires":[[]]},{"id":"9ae4cc32.d7b9b","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1077.9901123046875,"y":733.4857177734375,"wires":[]},{"id":"300b9c8.eaa31e4","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1079.994873046875,"y":792.4962158203125,"wires":[]},{"id":"4ea439db.7ec89","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1050.2685546875,"y":501.790771484375,"wires":[]},{"id":"47110f5e.c9463","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"false","complete":"false","x":1052.2685546875,"y":548.7908020019531,"wires":[]},{"id":"a2672d45.508ce8","type":"change","z":"28adb256.45f49e","name":"setInteractivityFalse","rules":[{"t":"set","p":"interactivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":381.75,"y":737.25,"wires":[[]]},{"id":"997b42c7.53a02","type":"function","z":"28adb256.45f49e","name":"RandomNumberGenerator","func":"function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n\ntheRed = getRandomInt(0,1)*255;\ntheGreen = getRandomInt(0,1)*255;\ntheBlue = getRandomInt(0,1)*255;\n\n//theRed = 0;\n//theGreen = 0;\n//theBlue = 0;\n\n\nglobal.set(\"theRed\",theRed); \nglobal.set(\"theGreen\",theGreen); \nglobal.set(\"theBlue\",theBlue); \n\n \nreturn msg;","outputs":1,"noerr":0,"x":319.25001525878906,"y":378.75,"wires":[[]]},{"id":"23287c47.9e79ec","type":"function","z":"28adb256.45f49e","name":"SensorReadingsToLight","func":"var MaxValue = 600;\nvar minValue =300;\n\nmsg.theNumber = (parseInt(msg.payload) -minValue) *(255)/ (MaxValue - minValue)\nif(msg.theNumber > 255){\n msg.theNumber = 255;\n}else if (msg.theNumber < 0){\n msg.theNumber = 0;\n}\nvar msg1 = {\"payload\": [msg.theNumber,0,0], \"topic\":\"fill\"}\nreturn msg1;","outputs":1,"noerr":0,"x":1395,"y":168.75,"wires":[[]]},{"id":"ad034543.29cf8","type":"inject","z":"28adb256.45f49e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.25,"y":841,"wires":[["6d294471.770204"]]},{"id":"6d294471.770204","type":"exec","z":"28adb256.45f49e","command":"omxplayer /home/pi/Downloads/theJapanBells.mp3","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":510.25,"y":856.5,"wires":[[],[],[]]},{"id":"7354e000.da0df8","type":"debug","z":"28adb256.45f49e","name":"","active":true,"console":"true","complete":"true","x":1054.25,"y":121.75001525878906,"wires":[]},{"id":"cabcd933.4502b8","type":"debug","z":"28adb256.45f49e","name":"resetSound","active":true,"console":"true","complete":"true","x":1194.5999755859375,"y":20,"wires":[]},{"id":"cd7be897.2f9e6","type":"link out","z":"28adb256.45f49e","name":"TriggerSound","links":["10fb3d08.f38643","8dbf8ede.17656"],"x":502.59999084472656,"y":276.2666778564453,"wires":[]},{"id":"8dbf8ede.17656","type":"link in","z":"df5fce3f.b538f8","name":"","links":["cd7be897.2f9e6"],"x":141.56666564941406,"y":72.56666564941406,"wires":[["5e30bbbb.c21a8c"]]},{"id":"5e30bbbb.c21a8c","type":"function","z":"df5fce3f.b538f8","name":"TriggerSound","func":"var maxTrigger = 550;\nvar minTrigger =450;\n\nvar theNumber = parseInt(msg.payload);\n// && theNumber < maxTrigger){\nif(theNumber > minTrigger ){\n  var msg1 = { payload:\"Trigger the sound\" };\n  return [ msg1, null];\n\n} else{\n    var msg2 = { payload:\"reset Sound\" };\n    return [ null, msg2 ];\n}\n\n\n\n\n\n","outputs":"2","noerr":0,"x":275.71669006347656,"y":73,"wires":[["f5730e3f.75ffe8","f2d77c53.78f33"],["ce932530.76d5a8"]]},{"id":"f5730e3f.75ffe8","type":"debug","z":"df5fce3f.b538f8","name":"","active":false,"console":"false","complete":"false","x":482.566650390625,"y":25.25,"wires":[]},{"id":"c94b3d79.c6006","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":616.566650390625,"y":249.96664428710938,"wires":[[]]},{"id":"f2d77c53.78f33","type":"switch","z":"df5fce3f.b538f8","name":"notPlaying","property":"notPlaying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":461.2166748046875,"y":71.25,"wires":[["9766957d.ac9668"]]},{"id":"63a0e675.2063b","type":"debug","z":"df5fce3f.b538f8","name":"notPlaying","active":true,"console":"false","complete":"true","x":708.566650390625,"y":31.25,"wires":[]},{"id":"9766957d.ac9668","type":"switch","z":"df5fce3f.b538f8","name":"resetSound","property":"resetSound","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":633.5330810546875,"y":70.81666564941406,"wires":[["1005f54a.d92f9b","2c170e8c.27a622"]]},{"id":"e8d8c2de.370678","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1135.566650390625,"y":317.6499786376953,"wires":[]},{"id":"1005f54a.d92f9b","type":"exec","z":"df5fce3f.b538f8","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/theSound/playMusic.py /home/pi/SymphonieLumineuse/SymphonieLumineuse/theSound/Bambooshots1.mp3","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Play Music","x":812.9666748046875,"y":144.75,"wires":[["af582590.7e99f","c176adb4.93cd18","cc02539f.27dc6","b0c8e5ea.7c879"],["621b5f58.213c","af582590.7e99f","c176adb4.93cd18"],["c4477528.067b9","af582590.7e99f","c176adb4.93cd18"]]},{"id":"af582590.7e99f","type":"change","z":"df5fce3f.b538f8","name":"notPlayingTrue","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1155.833251953125,"y":64.11666870117188,"wires":[[]]},{"id":"c176adb4.93cd18","type":"change","z":"df5fce3f.b538f8","name":"resetSoundFalse","rules":[{"t":"set","p":"resetSound","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027.566650390625,"y":253.816650390625,"wires":[[]]},{"id":"cc02539f.27dc6","type":"debug","z":"df5fce3f.b538f8","name":"","active":false,"console":"false","complete":"false","x":1204.7998046875,"y":129.81666564941406,"wires":[]},{"id":"621b5f58.213c","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1236.7998046875,"y":168.81666564941406,"wires":[]},{"id":"c4477528.067b9","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1275.7998046875,"y":198.81666564941406,"wires":[]},{"id":"b0c8e5ea.7c879","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1281.56689453125,"y":249.6499786376953,"wires":[]},{"id":"2c170e8c.27a622","type":"change","z":"df5fce3f.b538f8","name":"notPlayingFalse","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940.566650390625,"y":49.56666564941406,"wires":[[]]},{"id":"ce932530.76d5a8","type":"change","z":"df5fce3f.b538f8","name":"resetSoundTrue","rules":[{"t":"set","p":"resetSound","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":437.566650390625,"y":162.56666564941406,"wires":[["dfb5fc0f.76c82"]]},{"id":"dfb5fc0f.76c82","type":"debug","z":"df5fce3f.b538f8","name":"","active":false,"console":"false","complete":"payload","x":650.5499877929688,"y":179.75001525878906,"wires":[]},{"id":"79a68218.8ae854","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"resetSound","payloadType":"flow","repeat":"","crontab":"","once":false,"x":1050.566650390625,"y":580.5666198730469,"wires":[["19b66a1d.aa2a66"]]},{"id":"848ee908.7e8f4","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"notPlaying","payloadType":"flow","repeat":"","crontab":"","once":false,"x":1025.566650390625,"y":650.566650390625,"wires":[["123f281f.dfa2f"]]},{"id":"19b66a1d.aa2a66","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1279.566650390625,"y":574.2499389648438,"wires":[]},{"id":"123f281f.dfa2f","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1278.566650390625,"y":656.2499389648438,"wires":[]},{"id":"eac04d21.e052c","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":187.56666564941406,"y":349.1666259765625,"wires":[["eb9993cd.8eed5","c1b43558.20dee"]]},{"id":"eb9993cd.8eed5","type":"change","z":"df5fce3f.b538f8","name":"resetSound","rules":[{"t":"set","p":"resetSound","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":377.53330993652344,"y":368.0166320800781,"wires":[[]]},{"id":"a6c09b93.72f008","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":177.5333251953125,"y":430.0166320800781,"wires":[["eb9993cd.8eed5","c1b43558.20dee"]]},{"id":"c1b43558.20dee","type":"change","z":"df5fce3f.b538f8","name":"notPlayingFalse","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375.53330993652344,"y":442.0166320800781,"wires":[[]]},{"id":"539737b3.2a8738","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"interactivity","payloadType":"global","repeat":"","crontab":"","once":false,"x":135,"y":404.5666198730469,"wires":[["8ed32f8e.eae868"]]},{"id":"3f40dff4.ac0d68","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"Gate15Minutes","payloadType":"global","repeat":"","crontab":"","once":false,"x":130,"y":474.566650390625,"wires":[["51dab518.b557d4"]]},{"id":"8ed32f8e.eae868","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":364,"y":398.24993896484375,"wires":[]},{"id":"51dab518.b557d4","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":363,"y":480.24993896484375,"wires":[]},{"id":"fa2df09f.b14e3","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"resetSound","payloadType":"global","repeat":"","crontab":"","once":false,"x":614.566650390625,"y":397.566650390625,"wires":[["882b7898.804778"]]},{"id":"344d07c3.daced","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"notPlaying","payloadType":"global","repeat":"","crontab":"","once":false,"x":605.566650390625,"y":481.5666809082031,"wires":[["7397e681.15c508"]]},{"id":"882b7898.804778","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":835.5666351318359,"y":396.24993896484375,"wires":[]},{"id":"7397e681.15c508","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":840.5666351318359,"y":483.24993896484375,"wires":[]},{"id":"b9b08bf3.c24898","type":"inject","z":"4b86e319.2d6a04","name":"StartUp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":229.59999084472656,"y":54.71665954589844,"wires":[[]]},{"id":"828fa403.af6ba8","type":"function","z":"4b86e319.2d6a04","name":"Set Global Parameters","func":"global.set(\"resetSound\",true);  \nglobal.set(\"notPlaying\",true);  \n\nreturn msg;","outputs":1,"noerr":0,"x":535.5999908447266,"y":44.21665954589844,"wires":[[]]},{"id":"cd3cbfa6.5622b","type":"comment","z":"4b86e319.2d6a04","name":"Sound Parameters (Debug)","info":"","x":722.5999755859375,"y":336.08331298828125,"wires":[]},{"id":"4aaa9b11.a10f8c","type":"comment","z":"4b86e319.2d6a04","name":"Lights (Debug)","info":"","x":207.56666564941406,"y":323.1666259765625,"wires":[]},{"id":"4e0b1973.d5082","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"payload","x":1097.5999755859375,"y":85.39999389648438,"wires":[]},{"id":"84e281e6.f30ae8","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"theRed","payloadType":"global","repeat":"","crontab":"","once":false,"x":846.5999755859375,"y":73.71665954589844,"wires":[["4e0b1973.d5082"]]},{"id":"dadd97bf.f17458","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"payload","x":1085.566650390625,"y":157.56666564941406,"wires":[]},{"id":"64db232c.07554c","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"theGreen","payloadType":"global","repeat":"","crontab":"","once":false,"x":859.566650390625,"y":148.88333129882812,"wires":[["dadd97bf.f17458"]]},{"id":"687e6819.68237","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"payload","x":1075.566650390625,"y":224.56666564941406,"wires":[]},{"id":"1a6d6ae9.179efd","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"theBlue","payloadType":"global","repeat":"","crontab":"","once":false,"x":839.566650390625,"y":215.88333129882812,"wires":[["687e6819.68237"]]},{"id":"dccef0f1.1b6cc","type":"debug","z":"28adb256.45f49e","name":"","active":false,"console":"false","complete":"true","x":1258.566650390625,"y":299.3666687011719,"wires":[]},{"id":"a8f2cb00.19b778","type":"debug","z":"817ddca9.282ca","name":"","active":false,"console":"false","complete":"false","x":368.5,"y":89,"wires":[]},{"id":"509cf379.68fb64","type":"mqtt in","z":"817ddca9.282ca","name":"","topic":"topic/echo","qos":"2","broker":"554ebf4d.f6c078","x":108.5,"y":83,"wires":[["a8f2cb00.19b778","294ccfd4.e7ca58"]]},{"id":"294ccfd4.e7ca58","type":"function","z":"817ddca9.282ca","name":"TriggerEcho","func":"if (msg.payload === \"Trigger the sound\") {\n   return msg;\n} \n\n","outputs":1,"noerr":0,"x":364.5,"y":145,"wires":[["f49a80a9.daf808","eabd1fbb.ab704"]]},{"id":"f49a80a9.daf808","type":"exec","z":"817ddca9.282ca","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/theSound/playMusic.py /home/pi/SymphonieLumineuse/SymphonieLumineuse/theSound/Bambooshots2.mp3","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Play Music","x":555,"y":207,"wires":[["db02ce9c.686ba"],["db02ce9c.686ba"],["db02ce9c.686ba"]]},{"id":"db02ce9c.686ba","type":"mqtt out","z":"817ddca9.282ca","name":"","topic":"topic/echoReset","qos":"","retain":"","broker":"554ebf4d.f6c078","x":760.5,"y":152,"wires":[]},{"id":"d54fb39a.32f91","type":"inject","z":"817ddca9.282ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.5,"y":275,"wires":[["f49a80a9.daf808"]]},{"id":"eabd1fbb.ab704","type":"debug","z":"817ddca9.282ca","name":"","active":false,"console":"false","complete":"false","x":565.5,"y":85,"wires":[]}]

