nodeRed/MainControlDebug
[{"id":"539737b3.2a8738","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"interactivity","payloadType":"global","repeat":"","crontab":"","once":false,"x":135,"y":404.5666198730469,"wires":[["8ed32f8e.eae868"]]},{"id":"3f40dff4.ac0d68","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"Gate15Minutes","payloadType":"global","repeat":"","crontab":"","once":false,"x":130,"y":474.566650390625,"wires":[["51dab518.b557d4"]]},{"id":"8ed32f8e.eae868","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":364,"y":398.24993896484375,"wires":[]},{"id":"51dab518.b557d4","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":363,"y":480.24993896484375,"wires":[]},{"id":"fa2df09f.b14e3","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"resetSound","payloadType":"global","repeat":"","crontab":"","once":false,"x":614.566650390625,"y":397.566650390625,"wires":[["882b7898.804778"]]},{"id":"344d07c3.daced","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"notPlaying","payloadType":"global","repeat":"","crontab":"","once":false,"x":605.566650390625,"y":481.5666809082031,"wires":[["7397e681.15c508"]]},{"id":"882b7898.804778","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":835.5666351318359,"y":396.24993896484375,"wires":[]},{"id":"7397e681.15c508","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"false","x":840.5666351318359,"y":483.24993896484375,"wires":[]},{"id":"b9b08bf3.c24898","type":"inject","z":"4b86e319.2d6a04","name":"StartUp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":229.59999084472656,"y":54.71665954589844,"wires":[[]]},{"id":"828fa403.af6ba8","type":"function","z":"4b86e319.2d6a04","name":"Set Global Parameters","func":"global.set(\"resetSound\",true);  \nglobal.set(\"notPlaying\",true);  \n\nreturn msg;","outputs":1,"noerr":0,"x":535.5999908447266,"y":44.21665954589844,"wires":[[]]},{"id":"cd3cbfa6.5622b","type":"comment","z":"4b86e319.2d6a04","name":"Sound Parameters (Debug)","info":"","x":722.5999755859375,"y":336.08331298828125,"wires":[]},{"id":"4aaa9b11.a10f8c","type":"comment","z":"4b86e319.2d6a04","name":"Lights (Debug)","info":"","x":207.56666564941406,"y":323.1666259765625,"wires":[]},{"id":"4e0b1973.d5082","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"payload","x":1097.5999755859375,"y":85.39999389648438,"wires":[]},{"id":"84e281e6.f30ae8","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"theRed","payloadType":"global","repeat":"","crontab":"","once":false,"x":846.5999755859375,"y":73.71665954589844,"wires":[["4e0b1973.d5082"]]},{"id":"dadd97bf.f17458","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"payload","x":1085.566650390625,"y":157.56666564941406,"wires":[]},{"id":"64db232c.07554c","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"theGreen","payloadType":"global","repeat":"","crontab":"","once":false,"x":859.566650390625,"y":148.88333129882812,"wires":[["dadd97bf.f17458"]]},{"id":"687e6819.68237","type":"debug","z":"4b86e319.2d6a04","name":"","active":true,"console":"false","complete":"payload","x":1075.566650390625,"y":224.56666564941406,"wires":[]},{"id":"1a6d6ae9.179efd","type":"inject","z":"4b86e319.2d6a04","name":"","topic":"","payload":"theBlue","payloadType":"global","repeat":"","crontab":"","once":false,"x":839.566650390625,"y":215.88333129882812,"wires":[["687e6819.68237"]]}]