nodeRed/minimumThingThatWorks.js
[{"id":"6e2fe8bf.ab6018","type":"rpi-ws2801","z":"3674215b.99c906","numleds":"25","port":"/dev/spidev1.0","name":"","x":1246.9999694824219,"y":179.00006866455078,"wires":[]},{"id":"e2fc8330.ce9d2","type":"exec","z":"3674215b.99c906","command":"sudo /home/pi/PiSheild/RPiCExamples/spi-read1","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":822.8332824707031,"y":92.16669464111328,"wires":[["6b8adb85.8aa5a4"],[],[]]},{"id":"6b8adb85.8aa5a4","type":"function","z":"3674215b.99c906","name":"SensorReadingsToLight","func":"var MaxValue = 600;\nvar minValue =300;\n\nmsg.theNumber = (parseInt(msg.payload) -minValue) *(255)/ (MaxValue - minValue)\nif(msg.theNumber > 255){\n    msg.theNumber = 255;\n}else if (msg.theNumber < 0){\n    msg.theNumber = 0;\n}\n\nvar theColourRed = parseInt(global.get(\"therandomColourRed\"));\nvar theColourGreen = parseInt(global.get(\"therandomColourRed\"));\nvar theColourBlue = parseInt(global.get(\"therandomColourRed\"));\n\nif(theColourRed + theColourGreen + theColourBlue ==0){\n    theColourRed = 1;\n}\n\n//if(theColour < 85){\n//    var msg1 = {\"payload\": [theColour*3,255-theColour*3,0], \"topic\":\"fill\"};\n//} else if (theColour < 170){\n//    var msg1 = {\"payload\": [255-theColour*3,0,theColour*3], \"topic\":\"fill\"};\n//}else{\n//  var msg1 = {\"payload\": [0,theColour*3,255-theColour*3,0,], \"topic\":\"fill\"} ; /\n//}\n\nvar msg1 = {\"payload\": [msg.theNumber*theColourRed ,msg.theNumber*theColourGreen ,msg.theNumber*theColourBlue ,0,], \"topic\":\"fill\"} ;\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":1223.833251953125,"y":94.33338165283203,"wires":[["6e2fe8bf.ab6018","11dee3e4.d8731c"]]},{"id":"dd2ffa61.ccbf28","type":"switch","z":"3674215b.99c906","name":"timestampGate","property":"timestampGate","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":478.6666259765625,"y":101.00006103515625,"wires":[["e2fc8330.ce9d2"]]},{"id":"1eb862c5.cb8c1d","type":"change","z":"3674215b.99c906","name":"setGate","rules":[{"t":"set","p":"timestampGate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":256.6666564941406,"y":176.3333282470703,"wires":[[]]},{"id":"54ba061a.dcb5f8","type":"inject","z":"3674215b.99c906","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":69.66665649414062,"y":117.00006866455078,"wires":[["1eb862c5.cb8c1d","dfceee38.474bc"]]},{"id":"26a7505c.05eba","type":"inject","z":"3674215b.99c906","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"*/5 16-22 * * 3,4,5,6,0","once":false,"x":89,"y":199.00008392333984,"wires":[["1eb862c5.cb8c1d","ffee7db6.87d71","2ad0b71.bb09d48"]]},{"id":"6736ed13.a9bf14","type":"inject","z":"3674215b.99c906","name":"StartChime","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 11-22 * * 3,4,5,6,0","once":false,"x":253.83328247070312,"y":443.0000867843628,"wires":[["62792267.94779c","bfcf6cd7.784a8"]]},{"id":"711ba89.1487258","type":"exec","z":"3674215b.99c906","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/lightshow.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":904.8332824707031,"y":303.16679159800196,"wires":[["8f6f6049.710d7"],[],[]]},{"id":"8f6f6049.710d7","type":"change","z":"3674215b.99c906","name":"","rules":[{"t":"set","p":"timestampGate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1363.8333740234375,"y":287.33336639404297,"wires":[[]]},{"id":"dfceee38.474bc","type":"function","z":"3674215b.99c906","name":"FasterInterval","func":"function sendMessage(){\n  node.send({\"payload\": \"send\"});\n}\n\nsetInterval(sendMessage, 100)\n\nreturn msg;","outputs":1,"noerr":0,"x":249.83334350585938,"y":113.33338165283203,"wires":[["dd2ffa61.ccbf28"]]},{"id":"62792267.94779c","type":"function","z":"3674215b.99c906","name":"GetTheHour","func":"var d = new Date();\nvar n = d.getHours();\nif(n > 12){\n    n = n-12;\n}\nvar msg = {\"payload\": n};\nreturn msg;","outputs":1,"noerr":0,"x":513.9999389648438,"y":444.0000867843628,"wires":[["4576e9db.6749e8","8d3e91ab.a51"]]},{"id":"4576e9db.6749e8","type":"debug","z":"3674215b.99c906","name":"","active":true,"console":"false","complete":"payload","x":813.9999389648438,"y":445.0000867843628,"wires":[]},{"id":"8d3e91ab.a51","type":"exec","z":"3674215b.99c906","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/playOnTheHour.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":937.9999389648438,"y":546.0000867843628,"wires":[["365db3fc.32c9bc"],[],[]]},{"id":"bfcf6cd7.784a8","type":"change","z":"3674215b.99c906","name":"SetGate15Minutes","rules":[{"t":"set","p":"Gate15Minutes","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":465.99993896484375,"y":542.0000867843628,"wires":[["7c5c8c70.528dc4"]]},{"id":"f6961e1b.ac03e","type":"debug","z":"3674215b.99c906","name":"","active":true,"console":"false","complete":"false","x":713.9999389648438,"y":219.0000867843628,"wires":[]},{"id":"365db3fc.32c9bc","type":"change","z":"3674215b.99c906","name":"SetGate15Minutes","rules":[{"t":"set","p":"Gate15Minutes","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1419,"y":543.0000228881836,"wires":[[]]},{"id":"b83e36d7.11c0a8","type":"switch","z":"3674215b.99c906","name":"Gate15Minutes","property":"Gate15Minutes","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":435.99993896484375,"y":348.0000867843628,"wires":[["711ba89.1487258","f6961e1b.ac03e"]]},{"id":"7c5c8c70.528dc4","type":"debug","z":"3674215b.99c906","name":"","active":true,"console":"false","complete":"false","x":589.9999389648438,"y":626.0000867843628,"wires":[]},{"id":"ffee7db6.87d71","type":"delay","z":"3674215b.99c906","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":234.99993896484375,"y":346.0000867843628,"wires":[["b83e36d7.11c0a8"]]},{"id":"2ad0b71.bb09d48","type":"function","z":"3674215b.99c906","name":"randomNumberFunction","func":"function rnd(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar randomInteger = rnd(1,2);\nvar randomColourRed = rnd(0,1);\nvar randomColourGreen = rnd(0,1);\nvar randomColourBlue = rnd(0,1);\n\n\nglobal.set(\"theRandomInteger\", randomInteger);\nglobal.set(\"therandomColourRed\", randomColourRed);\nglobal.set(\"therandomColourGreen\", randomColourGreen)\nglobal.set(\"therandomColourBlue\", randomColourBlue)\n\nvar newMsg = {payload: randomColour};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":317.24658203125,"y":239.27704620361328,"wires":[["17e071a6.b0033e"]]},{"id":"d3b5cf30.2b152","type":"inject","z":"3674215b.99c906","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":93.25224304199219,"y":405.94275665283203,"wires":[["2ad0b71.bb09d48"]]},{"id":"17e071a6.b0033e","type":"debug","z":"3674215b.99c906","name":"","active":true,"console":"false","complete":"false","x":541.2548828125,"y":178.24718475341797,"wires":[]},{"id":"11dee3e4.d8731c","type":"debug","z":"3674215b.99c906","name":"","active":true,"console":"false","complete":"false","x":1514.25,"y":214.24213409423828,"wires":[]}]
