nodeRed/SoundsTry1
[{"id":"8dbf8ede.17656","type":"link in","z":"df5fce3f.b538f8","name":"","links":["cd7be897.2f9e6"],"x":141.56666564941406,"y":72.56666564941406,"wires":[["5e30bbbb.c21a8c"]]},{"id":"5e30bbbb.c21a8c","type":"function","z":"df5fce3f.b538f8","name":"TriggerSound","func":"var maxTrigger = 550;\nvar minTrigger =450;\n\nvar theNumber = parseInt(msg.payload);\n// && theNumber < maxTrigger){\nif(theNumber > minTrigger ){\n  var msg1 = { payload:\"Trigger the sound\" };\n  return [ msg1, null];\n\n} else{\n    var msg2 = { payload:\"reset Sound\" };\n    return [ null, msg2 ];\n}\n\n\n\n\n\n","outputs":"2","noerr":0,"x":275.71669006347656,"y":73,"wires":[["f5730e3f.75ffe8","f2d77c53.78f33"],["ce932530.76d5a8"]]},{"id":"f5730e3f.75ffe8","type":"debug","z":"df5fce3f.b538f8","name":"","active":false,"console":"false","complete":"false","x":482.566650390625,"y":25.25,"wires":[]},{"id":"c94b3d79.c6006","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":616.566650390625,"y":249.96664428710938,"wires":[[]]},{"id":"f2d77c53.78f33","type":"switch","z":"df5fce3f.b538f8","name":"notPlaying","property":"notPlaying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":461.2166748046875,"y":71.25,"wires":[["9766957d.ac9668"]]},{"id":"63a0e675.2063b","type":"debug","z":"df5fce3f.b538f8","name":"notPlaying","active":true,"console":"false","complete":"true","x":708.566650390625,"y":31.25,"wires":[]},{"id":"9766957d.ac9668","type":"switch","z":"df5fce3f.b538f8","name":"resetSound","property":"resetSound","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":633.5330810546875,"y":70.81666564941406,"wires":[["1005f54a.d92f9b","2c170e8c.27a622"]]},{"id":"e8d8c2de.370678","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1135.566650390625,"y":317.6499786376953,"wires":[]},{"id":"1005f54a.d92f9b","type":"exec","z":"df5fce3f.b538f8","command":"python /home/pi/SymphonieLumineuse/SymphonieLumineuse/theSound/playMusic.py /home/pi/Downloads/theJapanBells.mp3","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Play Music","x":812.9666748046875,"y":144.75,"wires":[["af582590.7e99f","c176adb4.93cd18","cc02539f.27dc6","b0c8e5ea.7c879"],["621b5f58.213c","af582590.7e99f","c176adb4.93cd18"],["c4477528.067b9","af582590.7e99f","c176adb4.93cd18"]]},{"id":"af582590.7e99f","type":"change","z":"df5fce3f.b538f8","name":"notPlayingTrue","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1155.833251953125,"y":64.11666870117188,"wires":[[]]},{"id":"c176adb4.93cd18","type":"change","z":"df5fce3f.b538f8","name":"resetSoundFalse","rules":[{"t":"set","p":"resetSound","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027.566650390625,"y":253.816650390625,"wires":[[]]},{"id":"cc02539f.27dc6","type":"debug","z":"df5fce3f.b538f8","name":"","active":false,"console":"false","complete":"false","x":1204.7998046875,"y":129.81666564941406,"wires":[]},{"id":"621b5f58.213c","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1236.7998046875,"y":168.81666564941406,"wires":[]},{"id":"c4477528.067b9","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1275.7998046875,"y":198.81666564941406,"wires":[]},{"id":"b0c8e5ea.7c879","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1281.56689453125,"y":249.6499786376953,"wires":[]},{"id":"2c170e8c.27a622","type":"change","z":"df5fce3f.b538f8","name":"notPlayingFalse","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940.566650390625,"y":49.56666564941406,"wires":[[]]},{"id":"ce932530.76d5a8","type":"change","z":"df5fce3f.b538f8","name":"resetSoundTrue","rules":[{"t":"set","p":"resetSound","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":437.566650390625,"y":162.56666564941406,"wires":[["dfb5fc0f.76c82"]]},{"id":"dfb5fc0f.76c82","type":"debug","z":"df5fce3f.b538f8","name":"","active":false,"console":"false","complete":"payload","x":650.5499877929688,"y":179.75001525878906,"wires":[]},{"id":"79a68218.8ae854","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"resetSound","payloadType":"flow","repeat":"","crontab":"","once":false,"x":1050.566650390625,"y":580.5666198730469,"wires":[["19b66a1d.aa2a66"]]},{"id":"848ee908.7e8f4","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"notPlaying","payloadType":"flow","repeat":"","crontab":"","once":false,"x":1025.566650390625,"y":650.566650390625,"wires":[["123f281f.dfa2f"]]},{"id":"19b66a1d.aa2a66","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1279.566650390625,"y":574.2499389648438,"wires":[]},{"id":"123f281f.dfa2f","type":"debug","z":"df5fce3f.b538f8","name":"","active":true,"console":"false","complete":"false","x":1278.566650390625,"y":656.2499389648438,"wires":[]},{"id":"eac04d21.e052c","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":187.56666564941406,"y":349.1666259765625,"wires":[["eb9993cd.8eed5","c1b43558.20dee"]]},{"id":"eb9993cd.8eed5","type":"change","z":"df5fce3f.b538f8","name":"resetSound","rules":[{"t":"set","p":"resetSound","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":377.53330993652344,"y":368.0166320800781,"wires":[[]]},{"id":"a6c09b93.72f008","type":"inject","z":"df5fce3f.b538f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":177.5333251953125,"y":430.0166320800781,"wires":[["eb9993cd.8eed5","c1b43558.20dee"]]},{"id":"c1b43558.20dee","type":"change","z":"df5fce3f.b538f8","name":"notPlayingFalse","rules":[{"t":"set","p":"notPlaying","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375.53330993652344,"y":442.0166320800781,"wires":[[]]}]