nodeRed/testingotherthing
[{"id":"d332e62c.2c7688","type":"rpi-ws2801","z":"b2fbdfbf.9c8f1","numleds":"25","port":"/dev/spidev1.0","name":"","x":789.8958129882812,"y":326.7465515136719,"wires":[]},{"id":"2fc66e23.222c52","type":"inject","z":"b2fbdfbf.9c8f1","name":"","topic":"fill","payload":"[255,0,0]","payloadType":"json","repeat":"","crontab":"","once":false,"x":265.5590057373047,"y":249.97222900390625,"wires":[["d332e62c.2c7688"]]},{"id":"e79447.7e4dbbb8","type":"inject","z":"b2fbdfbf.9c8f1","name":"","topic":"fill","payload":"[255,255,0]","payloadType":"json","repeat":"","crontab":"","once":false,"x":303.611083984375,"y":297,"wires":[["d332e62c.2c7688"]]},{"id":"db643df2.326e7","type":"function","z":"b2fbdfbf.9c8f1","name":"","func":"function ramp(to) {\n    if (msg.payload >= to) {\n        clearInterval(context.rampInterval);\n        context.rampInterval = null;\n        return;\n    }\n    msg.payload = msg.payload += 1;\n    node.send({payload: msg.payload, topic: msg.topic});\n}\n\nvar time  = 2000;\nvar destination = 255;\n\ncontext.rampInterval = context.rampInterval || setInterval(ramp, time/destination, destination);\n","outputs":1,"noerr":0,"x":418.611083984375,"y":118,"wires":[["86a7569b.6e19c8"]]},{"id":"50a687aa.d514d8","type":"inject","z":"b2fbdfbf.9c8f1","name":"","topic":"fill","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":213.611083984375,"y":129,"wires":[["db643df2.326e7"]]},{"id":"86a7569b.6e19c8","type":"template","z":"b2fbdfbf.9c8f1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload}}, 0, 0]","x":627.611083984375,"y":140,"wires":[["5cdb4987.a67d28"]]},{"id":"5cdb4987.a67d28","type":"json","z":"b2fbdfbf.9c8f1","name":"","x":769.611083984375,"y":138,"wires":[["d332e62c.2c7688"]]},{"id":"4a811588.2bb16c","type":"inject","z":"b2fbdfbf.9c8f1","name":"","topic":"setcolor","payload":"[10, 0, 255,0]","payloadType":"json","repeat":"","crontab":"","once":false,"x":339.50689697265625,"y":349.8888854980469,"wires":[["d332e62c.2c7688"]]},{"id":"98f79bac.21e288","type":"inject","z":"b2fbdfbf.9c8f1","name":"","topic":"clear","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":244.50689697265625,"y":198.88888549804688,"wires":[["d332e62c.2c7688"]]},{"id":"2a002c40.299e84","type":"inject","z":"b2fbdfbf.9c8f1","name":"","topic":"setrgb","payload":"[11, \"#00FF00\"]","payloadType":"json","repeat":"","crontab":"","once":false,"x":340.50689697265625,"y":399.8888854980469,"wires":[["d332e62c.2c7688"]]}]