nodeRed/testingBroadcast
[{"id":"1155b14a.dd0b0f","type":"exec","z":"b7fc3a7e.eb0a48","command":"python -u /home/pi/pixellights/flashColor.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":375,"y":764.5,"wires":[["62479bdc.ac3fe4"],["421a8283.f9fdec"],["8c144eb5.51cf1"]]},{"id":"66f51d55.04b234","type":"inject","z":"b7fc3a7e.eb0a48","name":"","topic":"","payload":"255 0 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":93,"y":805,"wires":[["71d47602.c52288"]]},{"id":"62479bdc.ac3fe4","type":"debug","z":"b7fc3a7e.eb0a48","name":"","active":true,"console":"false","complete":"false","x":720.9999694824219,"y":743,"wires":[]},{"id":"421a8283.f9fdec","type":"debug","z":"b7fc3a7e.eb0a48","name":"","active":true,"console":"false","complete":"false","x":749.9999694824219,"y":845,"wires":[]},{"id":"8c144eb5.51cf1","type":"debug","z":"b7fc3a7e.eb0a48","name":"","active":true,"console":"false","complete":"false","x":780.9999694824219,"y":890,"wires":[]},{"id":"b0d2a2b3.fa4","type":"play audio","z":"b7fc3a7e.eb0a48","name":"","voice":"","x":549,"y":940,"wires":[]},{"id":"71d47602.c52288","type":"file in","z":"b7fc3a7e.eb0a48","name":"","filename":"/home/pi/sounds/wasnt_my_fault.wav","format":"","x":274,"y":961,"wires":[["b0d2a2b3.fa4"]]},{"id":"ff9f9ef0.878ab","type":"play audio","z":"b7fc3a7e.eb0a48","name":"","voice":"","x":642,"y":1071,"wires":[]},{"id":"27527b01.aec174","type":"file in","z":"b7fc3a7e.eb0a48","name":"","filename":"/home/pi/sounds/no_soup.wav","format":"","x":338,"y":1063,"wires":[["ff9f9ef0.878ab"]]},{"id":"2ca179fc.a81ce6","type":"inject","z":"b7fc3a7e.eb0a48","name":"","topic":"","payload":"255 0 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":102,"y":1066,"wires":[["27527b01.aec174","1155b14a.dd0b0f"]]},{"id":"c300e972.957918","type":"exec","z":"b7fc3a7e.eb0a48","command":"python /home/pi/Adafruit_Python_MCP3008/examples/writeHighGPIOs.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":445,"y":597,"wires":[["1785afaa.faf1"],[],[]]},{"id":"3eaf5d1e.be7282","type":"inject","z":"b7fc3a7e.eb0a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":152,"y":509,"wires":[[]]},{"id":"236c51a9.04f73e","type":"debug","z":"b7fc3a7e.eb0a48","name":"","active":true,"console":"false","complete":"payload","x":1184.9999694824219,"y":455,"wires":[]},{"id":"3826f2c9.e87bae","type":"debug","z":"b7fc3a7e.eb0a48","name":"","active":true,"console":"true","complete":"true","x":755.6666259765625,"y":481,"wires":[]},{"id":"9a06d924.a5ae88","type":"function","z":"b7fc3a7e.eb0a48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420.8333435058594,"y":1272.3333409627278,"wires":[[]]},{"id":"80b8d594.6a0f88","type":"function","z":"b7fc3a7e.eb0a48","name":"Test Func","func":"var intMsg = parseInt(msg.payload);\nvar theBrightness = (intMsg-100.0)/400.0;\nif (theBrightness > 1.0){\n    theBrightness = 1.0;\n}\nvar newMsg = {payload: theBrightness};\n\nif ( intMsg > 100 ){\n    return [newMsg];\n    \n}","outputs":1,"noerr":0,"x":989.8333435058594,"y":561.6667175292969,"wires":[["236c51a9.04f73e","81e9046.323b8f8"]]},{"id":"1785afaa.faf1","type":"smooth","z":"b7fc3a7e.eb0a48","name":"","action":"mean","count":"5","round":"","x":979.8333435058594,"y":674,"wires":[["80b8d594.6a0f88"]]},{"id":"bb9041a2.021a9","type":"mqtt in","z":"b7fc3a7e.eb0a48","name":"","topic":"topic/test","qos":"2","broker":"ba113aca.f07608","x":328.8333435058594,"y":159.00000762939453,"wires":[["1d1fffc4.31fe1"]]},{"id":"1d1fffc4.31fe1","type":"debug","z":"b7fc3a7e.eb0a48","name":"","active":true,"console":"false","complete":"false","x":594.8333435058594,"y":122.66666412353516,"wires":[]},{"id":"81e9046.323b8f8","type":"exec","z":"b7fc3a7e.eb0a48","command":"python -u /home/pi/pixellights/proximity.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1095,"y":823,"wires":[[],[],[]]},{"id":"ba113aca.f07608","type":"mqtt-broker","z":"","broker":"192.168.2.147","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]